<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="dist/output.css" data-th-href="@{/output.css}" rel="stylesheet">
    <title>SServer</title>
    <meta name="theme-color" content="#F6F3EF">
</head>

<body class="bg-[#F6F3EF] font-mono">
    <div class="flex flex-col h-screen">
        <div class="flex flex-col max-w-sm px-4 py-5 m-auto space-y-4 bg-white rounded-xl">
          <h3 id="eTitle" class="text-3xl font-bold" th:text="${status + ' ' + error}">Oh no!</h3>
          <span id="eDesc" th:text="${message}" class="break-words">Try another time or check your request.</span>
          <span id="eDesc" th:text="${exception}" class="break-words">Try another time or check your request.</span>
          <div class="flex flex-row justify-between">
            <span th:text="${timestamp}" style="font-size: 12px; padding-right:2rem;" class="my-auto"></span>
            <a id="eBack" class="font-bold text-right text-yellow-600 underline hover:text-yellow-700 my-auto" href="/">Go back</a>
          </div>
        </div>
        <span class="pb-12 mx-auto font-medium text-gray-700">designed by H. Alireza</span>
      </div>
</body>

</html>